# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* list popular languages for Data Science
* list of popular libraries
* list of well know Data Science Tools
* providing comments in the cell by using #

Some of the popular languages that Data Scientists use are:
1. Pyhton
2. C
3. C++
4. Java etc

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Numpy
4. Tensorflow
5. SciKitLearn

|Data Science Tools|
|----|
|SAS|
|Apache Hadoop|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
120/60

2.0

## Author
Gaurav